argparse
cryptography
curses
datetime
geopy
grpc
grpcio
hashlib
http
importlib
json
logging
math
num2words
numpy
nvidia-riva-client
os
pickle5
pyaudio
queue
random
re
requests
riva
socket
sounddevice
sqlite3
subprocess
sys
threading
time
traceback
tuning
usb
uuid
geocoder
psutil
pygame
pyusb
serial
socks
spotify
stem
yaml
